.video {
  display: flex;
  width: 400px;
  margin-bottom: 10px;
  font-family: Arial;
}
.thumb { width: 170px; }
.text { margin-left: 10px; }
.title { font-weight: bold; font-size: 14px; margin: 0 0 10px 0; line-height: 20px; }
.author, .stats { font-size: 12px; color: gray; margin: 0; }